   /games/          @shubh84hd-spec @keshavkumargupta2008-gif
   /app/            @mirza-username
   /assets/ui/      @sammitesh
   /data/           @manavdakhoer-design
   /docs/           @manavdakhoer-design
   /server/         @lakshyarelan-hue
   /.github/        @manavdakhoer-design
