   /games/          @shubh84hd-spec @keshav-username
   /app/            @mirza-username
   /assets/ui/      @sammitesh
   /data/           @manavdakhoer-design
   /docs/           @manavdakhoer-design
   /server/         @lakshyarelan-hue
