/games/          @shubh84hd-spec @keshavkumargupta2008-gif
/app/            @pro-mirza27-969
/shared/         @pro-mirza27-969
/assets/         @sammitesh
/server/         @lakshyarelan-hue
/data/           @manavdakhoer-design
/docs/           @manavdakhoer-design
/.github/        @manavdakhoer-design
